node_modules
.next
.next/*
.env
en.txt
env.txt
# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video
